* {
	margin: 0
	padding: 0
}

body {
	background: url("/resources/page_bg.jpg") repeat scroll center top #0c1e28;
	color: #DDD;
	font-size: 13px;
	line-height: 120%;
	text-align: center;
	height: 100%;
	min-height: 640px;
}


.text {
  /** background: url("/resources/input_field_left.png") top left no-repeat;
  padding-left: 6px;
  display: block;
  height: 50px; */

}

#gmloader {
	background: url("/resources/loading.gif") center center no-repeat;
	position: absolute;
	height: 620px;
	width: 740px;
}

#loading_info {
	position: relative;
    top: 350px;	
}

.game {
	background: url("/resources/game_bg.png") top left no-repeat;
	margin: 5px auto;
	width: 990px;
	height: 645px;
	border-color: #333333;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 5px black, 0 25px 5px rgba(255, 255, 255, 0.1) inset;
}

.game .canvas {
	margin: 10px;
	float: left;
}

.game #gameinfo{
	width: 230px;
	height: 100%;
	float: right;
}

.game #players {
	margin-left: 8px;
	width: 210px;
	height: 100px;
}

.game #tb_players td {
	max-width: 160px;
	overflow: hidden;
	height: 23px;
	text-align: left;
}

.game #tb_players .self_row {
	border: 1px;
	background-color: red;
	font-size: 14px;
}

.game .chat{
	height: 410px
}

#chat_messages {
  clear: both;
  border: 0px;
  height: 360px;
  width: 207px;
  margin: 20px 0px 8px 10px;
  color: #ffebc7;
  overflow-y: scroll;
  text-shadow: black 1px 1px 1px;
}

#chat_messages li {
  list-style: none;
  word-wrap: break-word;
  text-align: left;
  margin: 3px 0px;
  font-size: 13px;
}

#chat_messages .author {
	clear: both;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
}


.game .chat .input {
	width: 93%;
	height: 40px;
	margin: 0 5px;
}

.game .chat #entry {
	float: left;
	width: 150px;
}

.game .chat #post {
	float: right;
}

#panel {
	height: 40px;
    margin-top: 3px;
    text-align: left;
}

#scores {
	height: 68px;
    padding: 5px 10px;
}

.score_left {
	float: left;
	max-width: 105px;
	overflow: hidden;
	height: 35px;
}

.score_middle {
	float: left;
    padding-left: 3px;
    padding-top: 14px;
}

.score_right {
	float: right;
	margin-right: 3px;
}
